body {
  background-color: aquamarine;
}
h1 {
  color: #4caf50;
  background-color: white;
  width: 100%;
  font-size: 33px;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
}
h1:hover {
  color: #000;
}
input[type="text"],
select,
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #43d9d1;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
input[type=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    
  }
  
  input[type=search]:focus {
    width: 100%;
  }